.col-4 {
    background-color: black;
    color: white;
    height: 100vh;
}

.col-5 {
    background-color: blue;
    color: white;
    height: 100vh;
}

.col-3 {
    background-color: gray;
    color: white;
    height: 100vh;
}